!.gitignore
Makefile*
!Makefile.PL
META.yml
blib
build
inc
pm_to_blib
MANIFEST*
!MANIFEST.SKIP
Debian*
Linux-Personality-*
cover_db
nytprof.out
nytprof*
benchmarks_*
Personality.o
Personality.c
Personality.bs

